# Debian Packaging
/build-*/
*-stamp
debian/.debhelper/
debian/tmp/
debian/files
debian/*.log
debian/*.substvars
debian/php-tesseract/
debian/php-tesseract-all-dev/
debian/php*-tesseract/
debian/php*-tesseract-dbgsym/
debian/*.debhelper
debian/php[0-9]*.php
.pbuilderrc
*.deb
*.changes
*.buildinfo
*.dsc

# PHP Build Artifacts (root and subdirectories)
.deps/
.libs/
modules/
autom4te.cache/
build/
acinclude.m4
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
plif
run-tests.php
tesseract.dep
Makefile
Makefile.fragments
Makefile.global
Makefile.objects

# Compiled Object Files
*.lo
*.la
*.o
*.so

# IDE and System config contents
.vscode/
.idea/
.DS_Store
*~

